.progress {
  font-size: 16px;
  text-align: left;

	.progress-bar {
		width: auto;
		height: 10px;
		border: 1px solid #aaa;
		border-radius: 4px;
		margin: 8px 0;

		.progress-bar-percent {
			height: 8px;
			background-color: #4ab915;
		}
	}

	.info-bottom {
		width: 100%;
		overflow: hidden;

		div {
			line-height: 20px;
			width: 50%;
			float: left;
		}

		.days-left,
		.contributors-count {
			text-align: right;
		}

		.contributors-count {
			width: 100%;
		}
	}
}

.contribution-levels {
	.level {
		margin-bottom: 20px;
	}

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;

		.level {
			margin: 0;
			display: flex;
			flex-direction: column;

			.level-description {
				flex-grow: 1;
			}
		}
	}
}

.contributors-list {
  width: 100%;

	td + td {
	  text-align: right;
	}
}